body{
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}
p img{
    width: 63px;
    height: 36px;
}

ul:first-of-type{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
h2{
    background: #DFE3E6;
	border: 1px solid #929CA4;
	border-radius: 5px;
    padding-left: 10px;
}
a ,h2 {
    color: #CC1C0D;	
}

h2 + img{
    width: 80px;
    height: 100px;
}

img {
	float: left;
	margin: 10px 7px;
}

section img{
    margin-right: 20px;
    border: 2px solid #CC1C0D;
    border-radius: 40px;
}

.pricing{
    float:left;
}
.pricing div {
	float: left;
	border: 1px solid #929CA4;
	border-radius: 10px;
	margin-right: 5px;
	text-align: center;
	padding-top: 10px;
    width: 230px;
}

.pricing div:nth-child(1) h3{
    border-bottom:5px solid #CC1C0D;
}
.pricing div:nth-child(2) h3{
    border-bottom:5px solid #37A4A4;
}
.pricing div:nth-child(3) h3{
    border-bottom:5px solid #685288;
}
.pricing div:nth-child(4) h3{
    padding-top: 15px;
    border-bottom:5px solid #000000;
}
#vprospect::first-line{
    font-weight: bold;	
}
#vconvert::first-line{
	font-weight: bold;	
}
#vretain::first-line{
    font-weight: bold;
}
ul li ul li {
	margin-left: 35px;	
}